<div>
    <nav class="navigation">
      <a routerLink="/" class="logo">HH</a>
      <ul class="menu">
        <li class="sections"><a routerLink="/" class="link">Home</a></li>
        <li class="sections"><a routerLink="/companies" class="link">Companies</a></li>
        <li class="sections"><a routerLink="/vacancies" class="link">Vacancies</a></li>
        <li class="sections"><a routerLink="/vacancies/top_ten" class="link">Top-Ten</a></li>
      </ul>
    </nav>
  <p>Find your dream job!</p>
  </div>