<div *ngFor="let product of products">
  <div *ngIf="product.category == selectedProduct">
    <h3>
      <a [title]="product.name + ' details'">
        {{ product.name }}
      </a>
    </h3>

    <p *ngIf="product.description">Description: {{ product.description }}</p>
    <img src="{{ product.image }}" style="width:20%; height:20%;" />

    <button type="button" (click)="like(product)">
      Like | {{ product.likes }}
    </button>
    <button type="button" (click)="remove(product)">Remove</button>
    <button type="button" (click)="share(product.url)">Share</button>

    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
  </div>
</div>
